html{
    scroll-behavior: smooth; /* Descida suave */
}

/* || Media query, responsividade */
@media screen and (min-width: 0px) { /*Tela Mobile*/
    .hide{
        display: none;
    }
}
@media screen and (min-width: 992px) { /*Tela Tablet*/
    .hide{
        display: block;
    }
}
@media screen and (min-width: 1200px) { /*Tela Desktop*/
    .hide{
        display: block;
    }
}

/* || Scroll */
.caixa_scroll::-webkit-scrollbar{
    background-color: rgba(255, 0, 251, 0.152);
    width: 8px;
    height: 8px;
    border-radius: 20px;
}
/* ::-webkit-scrollbar-track{
    background-color: aquamarine;
} */
/* ::-webkit-scrollbar-track-piece{
    background-color: gray;
} */
.caixa_scroll::-webkit-scrollbar-thumb{
    background-color: chartreuse;
    border-radius: 20px;
}

/* || pseudoclasses de link */
a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }

  /* || imagem do button input */
  input[type=text] {
    /* width: 20vw; */
    border: 1px solid var(--cor-padrao-dois);
    border-radius: 5px;
    font-size: 0.8rem;
    background-color: #949281;
    background-image: url('../img/favicon.png');
    background-position: 5px;
    background-repeat: no-repeat;
    padding: 10px 20px 10px 40px;
    color: var(--cor-text-dois);
}
body {
    background-image: url("img_tree.png"); /* link da img*/
    background-repeat: no-repeat; /* nao repetir a img*/
    background-position: right top; /* posicao da img*/
    background-attachment: fixed; /*fixa a imagem, scroll; imagem rola com a pg*/
  }

body { /* USAR RELATIVE NO PAI */
    position: relative;
}
p { /* USAR ABSOLUTE NO FILHO */
    position: absolute;
}