/* || Aside direita */

.aside-direita{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.friends-line{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 24px;
    border-radius: var(--border-radios);
    /* padding: 0 16px; */
    padding-bottom: 16px;

    /* height: fit-content; */
    /* min-width: 225px; */
    /* max-width: 280px; */
    /* width: max-content; */
}
.list-friends{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    /* justify-content: space-evenly; */
}
.descricao{
    display: flex;
    flex-direction: column;
}
h2.l-friends{
    font-size: 23px;
    margin-top: 16px;
    text-align: center;
}
h3.f-name{ /*Reutilizado nos posts*/
    font-size: 19px;
    font-weight: 700;
}
.p-status{ /*Reutilizado nos posts*/
    font-size: 12px;
    font-weight: 500;
    color: #4d4d4d;
}
/* .float-l{
    margin-right: 8px;
    float: left;
    background-color: gray;
} */
div.friend-adc{
    background-image: url("../icon/components/User-more.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 32px;
    height: 32px;
    /* float: right;
    margin-top: 8px; */
}

/* || Button aside direita */
/* Feito no css pseudos */
.padd{
    width: 80%;
    /* align-self: center; */
}

/* || section Em alta */
.em-alta{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    padding: 0 16px;
    border-radius: var(--border-radios);
    padding-bottom: 16px;
}
.article-font{
    font-size: 16px;
    font-weight: 600;
}
.article-p{
    font-size: 12px;
    font-weight: 500;
    color: #4d4d4d;
}