/* || Media query */

@media screen and (min-width: 0px) { /*Tela Mobile*/
    .hidden{
        display: none;
    }
    aside.aside-esquerda, aside.aside-direita{
        display: none;
    }
    nav{
    min-width: 550px;
    }
    .col-esquerda{
        position: relative;
        left: 10px;
    }
    .col-direita{
        position: relative;
        right: 10px;
    }
    /* .img-r-top{
        position: relative;
        right: 10px;
    } */
    .container{
        display: grid;
        grid-template-areas: 'col-p col-p';
        margin: 0 24px;
        /* grid-template-rows: 50px 1fr 30px; */
        /* grid-template-columns: 1fr; */
    }
    /* .col-e{
        display: none;
    }
    .col-d{
        display: none;
    } */
}
@media screen and (min-width: 992px) { /*Tela Tablet*/
    .hidden{
        display: block;
    }
    aside.aside-esquerda{
        display: flex;
    }
    .col-esquerda{
        /* position: relative; */
        left: 16px;
    }
    .col-direita{
        /* position: relative; */
        right: 16px;
    }
    .container{
        display: grid;
        grid-template-areas: 'col-e col-p col-p col-p'
        'col-d col-p col-p col-p';
        gap: 24px;
        margin: 0 16px;
    }
    /*Para aparecer em baixo do perfil em tela media*/
    aside.aside-direita{
        display: flex;
    }
    section.em-alta{
        display: none;
    }
    /* .col-e{
        display: initial;
    }
    .col-d{
        display: initial;
    } */
}
@media screen and (min-width: 1200px) { /*Tela Desktop*/
    .container{
        display: grid;
        grid-template-areas: 'col-e col-e col-p col-p col-p col-p col-d';
        gap: 24px;
        margin: 0 64px;
        /* grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
    }
    /* Já está habilitado na tela media */
    /* aside.aside-direita{
        display: flex;
    } */
    section.em-alta{
        display: flex;
    }
    .col-esquerda{
        /* position: relative; */
        left: 64px;
    }
    .col-direita{
        /* position: relative; */
        right: 64px;
    }
    /* .col-d{
        display: initial;
    } */
}


/* || DarkMode Sistem */
@media (prefers-color-scheme: dark) {
    html, body { 
      /* color: var(--color-news-cyberblue); */
      background: #121212;
    }
    .img-bkg{
        background-color: var(--color-bkg-orange);
    }
    body nav{
        background-color: var(--color-txt-escuroXX);
        box-shadow: 0px 5px 20px var(--color-focus-yellow);
    }
    button.img-bkg:active{
        background-color: var(--color-focus-yellow);
    }
    body div.notificacao{
        background-color: var(--color-news-cyberblue);
    }
    body div.notificacao:hover{
        background-color: var(--color-focus-yellow);
    }

    /* || Cores */
    aside.aside-esquerda{
        background-color: var(--color-bkg-dorkMod);
    }
    div.new-post{
        background-color: var(--color-bkg-dorkMod);
    }
    div.friend-post{
        background-color: var(--color-bkg-dorkMod);
    }
    aside.aside-direita{
        background-color: var(--color-bkg-dorkMod);
    }
    section.em-alta{
        background-color: var(--color-bkg-dorkMod);
    }

    aside hr.style, div hr.style-p{
    border: var(--color-news-cyberblue) 1px solid;
    }
}