a:link, a:visited {
    color: #e437d3;
    text-align: center;
    text-decoration: none;
}
a:hover, a:active {
    color: var(--color-news-cyberblue);
    text-decoration: line-through;
}

body div.notificacao:hover{
    background-color: var(--color-focus-yellow);
}
button.img-bkg:hover{
    cursor: pointer;
    border: 2px solid var(--color-txt-escuro);
    transition: .2s;
    background-color: var(--color-bkg-yellow);
}
.img-bkg{
    background-color: var(--color-sombra);
}
button.img-bkg{
    border: 1px solid var(--color-focus-yellow);
}
/* || input style */
input::placeholder, textarea::placeholder{
    color: var(--color-bkg-orange);
    padding-left: 14px;
}
input:focus{
    border: 1px solid var(--color-focus-yellow);
}
.conf-options, .friend-adc{
    border-radius: var(--border-radios);
    background-color: var(--color-sombra);
    transition: .2s;
}
.conf-options:hover, .friend-adc:hover{
    background-color: var(--color-bkg-yellow);
    transition: .2s;
    cursor: pointer;
}
.conf-options:active, .friend-adc:active{
    background-color: var(--color-focus-yellow);
}

/* || Botton aside direita E guia de postes*/
.buscar{
    border-radius: var(--border-radios);
    background-color: var(--color-btn-buscar);
    border: 1px solid var(--color-focus-yellow);
    height: 48px;
    transition: .2s;
}
.buscar:hover{
    background-color: var(--color-bkg-yellow);
    border: 1px solid var(--color-txt-escuro);
    transition: .2s;
    cursor: pointer;
}
.buscar:active{
    background-color: var(--color-focus-yellow);
    transition: .2s;
}

/* || Botao postar */
.btn-postar{
    background-color: var(--color-news-cyberblue);
    border-radius: var(--border-radios);
    border: 1px solid var(--color-focus-yellow);
}
.btn-postar:hover{
    background-color: var(--color-txt-escuro);
    color: var(--color-news-cyberblue);
    transition: .2s;
    cursor: pointer;
}
.btn-postar:active{
    background-color: var(--color-txt-escuroXX);
}
