a:link, a:visited {
    color: #f25757;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
}
a:hover, a:active {
    color: orange;
    text-decoration: line-through;
}
.a:hover{
    background-color: var(--color-bkg-yellow);
}


body div.notificacao:hover{
    background-color: var(--color-focus-yellow);
}
button.img-bkg:active{
    background-color: var(--color-bkg-yellow);
}
button.img-bkg:hover{
    cursor: pointer;
    border: 2px solid var(--color-txt-escuro);
    transition: .3s;
}
.img-bkg{
    background-color: var(--color-sombra);
}
button.img-bkg{
    border: 1px solid var(--color-focus-yellow);
}
/* || input style */
input[class="top-search"]{
    border: 1px solid var(--color-bkg-orange);
    border-radius: 10px;
}
input::placeholder{
    color: var(--color-bkg-orange);
}
input:focus{
    border: 2px solid var(--color-focus-yellow);
}
.conf-options{
    background-color: var(--color-sombra);
}
.conf-options:hover{
    background-color: var(--color-bkg-yellow);
}
.conf-options:active{
    background-color: var(--color-focus-yellow);
}