@import url("./pseudos.css");
@import url("./media.css");
@import url("./variaveis.css");
@import url("./rolagem.css");
@import url("./asideDireita.css");
@import url("./main.css");
@import url("./asideEsquerda.css");

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url("../fontes/Chivo_Mono/ChivoMono-VariableFont_wght.ttf");

html{
    scroll-behavior: smooth;
    font-family: 'Chivo Mono', monospace;
}

/* || Ajustes em toda nav */
body{
    position: relative;
    height: 90vh;
    color: var(--color-txt-escuroXX);
}
header{
    position: sticky;
    top: 0;
    z-index: 1;
}
nav{
    background-color: var(--color-txt-escuro);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 64px;
    width: 100%;
    box-shadow: 0px 5px 40px black;
}
.col-esquerda, .col-direita{
    flex-grow: 1;
}
div.img-logo{
    width: 30px;
    height: 30px;
}
.col-esquerda{
    display: flex;
    gap: 5px;
    flex-grow: 2;
    /* position: relative;
    left: 64px; / foi para o media */
    align-items: center;
}
.col-direita{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}
.pesquisa{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 8px;
}
.img-r-top{
    display: flex;
    flex: 1;
    align-content: center;
    justify-content: flex-end;
    /* position: relative;
    right: 64px; / foi para o media */
    column-gap: 8px;
}
div.notificacao{
    width: 10px;
    height: 10px;
    background-color: var(--color-txt-escuro);
    border-radius: 10px;
    position: absolute;
    right: 5px;
    top: 5px;
}
.logo-name{
    font-size: medium;
    font-size: 18px;
    color: var(--color-news-cyberblue);
    font-family: 'Anton', sans-serif;
}
.top-search{
    /* width: auto; */
    height: 48px;
    /* margin-left: 14px; */
    padding-left: 14px;
}

/* || Icones quadrados */
.profile-img{
    width: 48px;/*Tamanho controlado no html, pra evitar ghost reload*/
    height: 48px;
    border-radius: 10px;
}
.img-bkg{
    width: 48px;
    height: 48px;
    border-radius: 10px;
    position: relative;
}
.img-icone{
    width: 20px;
    height: 20px;
    position: absolute;
    left: 30%;
    top: 30%;
}
.img-top{
    position: fixed;
    right: 40px;
    bottom: 24px;
}

/* || Organização container */
.container{
    padding-top: 24px;
}
.col-e{
    grid-area: col-e;
}
.col-p{
    grid-area: col-p;
}
.col-d{
    grid-area: col-d;
}

/* || Organizacao cor background */
.aside-esquerda{
    background-color: var(--color-bkg-orangelight);
}
.new-post{
    background-color: var(--color-bkg-orangelight);
}
.friend-post{
    background-color: var(--color-bkg-orangelight);
}
.aside-direita{
    background-color: var(--color-bkg-orangelight);
}
.em-alta{
    background-color: var(--color-bkg-orangelight);
}
