@import url("./pseudos.css");
@import url("./media.css");
@import url("./variaveis.css");
@import url("./rolagem.css");

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url("../fontes/Chivo_Mono/ChivoMono-VariableFont_wght.ttf");

html{
    scroll-behavior: smooth;

    font-family: 'Chivo Mono', monospace;
}

/* || Ajustes em toda nav */
body{
    position: relative;
    height: 90vh;
}
/* header{
    position: sticky;
    top: 0;
    z-index: 1;
} */
nav{
    background-color: var(--color-txt-escuro);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 64px;
    width: 100%;
    /* position: fixed; */
    box-shadow: 0px 5px 40px black;

    position: sticky;
    top: 0;
    z-index: 1;
}
.col-esquerda, .col-direita{
    flex-grow: 1;
}
div.img-logo{
    width: 30px;
    height: 30px;
}
.col-esquerda{
    display: flex;
    gap: 5px;
    flex-grow: 2;
    /* position: relative;
    left: 64px; / foi para o media */
    align-items: center;
}
.col-direita{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}
.pesquisa{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 8px;
}
.img-r-top{
    display: flex;
    flex: 1;
    align-content: center;
    justify-content: flex-end;
    /* position: relative;
    right: 64px; / foi para o media */
    column-gap: 8px;
}
div.notificacao{
    width: 10px;
    height: 10px;
    background-color: var(--color-txt-escuro);
    border-radius: 10px;
    position: absolute;
    right: 5px;
    top: 5px;
}
.profile-img{
    width: 48px;
    height: 48px;
    border-radius: 10px;
}
.logo-name{
    font-size: medium;
    font-size: 18px;
    color: var(--color-news-cyberblue);
    font-family: 'Anton', sans-serif;
}
.top-search{
    /* width: auto; */
    height: 48px;
    margin-left: 14px;
    padding-left: 14px;
}

/* || Icones quadrados */
.img-bkg{
    width: 48px;
    height: 48px;
    border-radius: 10px;
    position: relative;
}
.img-icone{
    width: 20px;
    height: 20px;
    position: absolute;
    left: 30%;
    top: 30%;
}
.img-top{
    position: fixed;
    right: 40px;
    bottom: 24px;
}

/* || Organização container */
.container{
    padding-top: 24px;
}
.col-e{
    grid-area: col-e;
    background-color: #f0d9f5;
}
.col-p{
    grid-area: col-p;
    background-color: #f0d9f5;
}
.col-d{
    grid-area: col-d;
    background-color: #f0d9f5;
}

/* || Aside esquerda */
.aside-esquerda{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    /* min-width: 300px; */
    /* position: relative; */
    max-height: 850px;
    border-radius: 10px;
    overflow: hidden;
}
.back-img{ /*Background perfil*/
    width: 100%;
    height: 100px;
    background-color: #949281;
    background-image: url("../img/img-scrol/bkg2.jpg.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.profile-img-master{ /*Foto perfil*/
    position: relative;
    bottom: 50px;
    background-color: var(--color-bkg-yellow);
    border: var(--color-bkg-orange) 2px solid;
    width: 128px;
    height: 128px;
    border-radius: 10px;
    z-index: 0;
}
h1.name{
    margin-top: -33px;
    font-size: 28px;
}
p.name{
    font-size: 16px;
}
p.staus-p-sub{
    font-size: 16px;
    padding: 32px 16px;
}
.status-sub{
    width: 80%;
    height: 69px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}
.status{
    background-color: var(--color-bkg-yellow);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 68px;
    flex: 1;
    border-radius: 10px;
}
.status-p{
    font-size: x-large;
    font-weight: bolder;
    color: var(--color-txt-escuro);
}
.status-p-sub{
    color: var(--color-txt-escuro);
}
hr.style {
    width: 80%;
    margin: 24px 0;
    border-style: inset;
    /* border-width: 1px; */
    border: var(--color-bkg-orange) 1px solid;
}
.options{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-evenly;
    width: 80%;
    gap: 8px;
    margin-bottom: 25px;
}
.conf-options{
    border-radius: var(--border-radios);
    height: 48px;
    display: flex;
}
div.feed{
    background-image: url("../icon/components/Vector-6.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 48px;
    height: 48px;
}
div.coneccoes{
    background-image: url("../icon/components/Vector-5.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 48px;
    height: 48px;
}
div.news{
    background-image: url("../icon/components/Vector-7.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 48px;
    height: 48px;
}
div.eventos{
    background-image: url("../icon/components/Vector-8.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 48px;
    height: 48px;
}
div.conf{
    background-image: url("../icon/components/Vector-1.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 48px;
    height: 48px;
}
span.span-options{
    color: var(--color-txt-escuro);
    align-self: center;
}