:root{
    --color-bkg-yellow: #ffff0072;
    --color-bkg-orange: #f25757;
    --color-txt-escuro: #3a283e;
    --color-txt-escuroXX: #221225;
    --color-sombra: #c7b5cc;
    --color-focus-yellow: #fbff22;
    --color-news-cyberblue: #11f0f3;

    --border-radios: 10px;
}