:root{
    --color-bkg-yellow: #ffff0072;
    --color-bkg-orange: #f25757;
    --color-txt-escuro: #3a283e;
    --color-txt-escuroXX: #221225;
    --color-sombra: #c7b5cc;
    --color-focus-yellow: #fbff22;
    --color-news-cyberblue: #11f0f3;

    --color-btn-buscar: #b9e5e6;

    --color-bkg-bluelight: #c8f0f0;
    --color-bkg-orangelight: #fbe5de;
    --color-bkg-dorkMod: #fc7c7c;
    --color-bkg-body: #121212;

    --border-radios: 10px;
}